* {
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
}
#main {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 50px;
}

h1 {
  font-size: 25px;
  color: gray;
  font-weight: lighter;
  margin-left: 25px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

#promo {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
  border-color: #f59a17;
  cursor: pointer;
}

#promo:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#box {
  margin-top: 25px;
  margin-left: 20px;
  background-color: #ffffff;
}

table {
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffffff;
}

th {
  background-color: #555555;
  color: #f3f3f3;
  padding: 10px 0px;
}

td {
  margin: auto;
  text-align: center;
}

td>button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#box1 {
  display: flex;
  justify-content: space-between;
  height: 300px;
  margin-top: 20px;
  background-color: #ffffff;
}

#box11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

#box11>button {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

#box11>button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#box11>button:first-child {
  border-color: #70b961;
}

#box11>button:last-child {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  margin-bottom: 30px;
}

#box12 {
  width: 45%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

h2 {
  font-size: 15px;
  color: #555555;
}

#check {
  padding: 10px 30px;
  font-size: 25px;
  margin-bottom: 30px;
  margin-left: 250px;
  border-radius: 10px;
  background-color: #f5d377;
  border: none;
  color: #555555;
  margin-top: 10px;
  cursor: pointer;
}

#check:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#box14 {
  height: 40%;
}

.box13 {
  height: 60%;
  display: flex;
  flex-direction: row;
}

#total {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 10px 20px 20px 20px;
  color: #555555;
}

h4 {
  font-size: 30px;
  margin: 10px 20px 20px 20px;
  color: #555555;
}

#tot {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin-bottom: 5px;
  font-size: 15px;
  color: #555555;
}

#new {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

#extra {
  width: 20%;
  height: 200px;
  border: 1px solid gray;
  margin-left: 100px;
  margin-right: 10px;
  border-color: #70b961;
  color: #70b961;
  border-radius: 10px;
  padding: 5px;
}

#else {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

#else1 {
  width: 20%;
  margin-top: 10px;
  margin-left: 15px;
  
}

h6 {
  font-size: 30px;
  color: #555555;
  margin-top: 70px;
  font-weight: 100;
  margin-left: 20px;
}

#else1>button {
  padding: 15px 0px 15px 0px;
  width: 100%;
  font-size: 25px;
  border: none;
  background-color: #f9f3f3;
  cursor: pointer;
  
}

#else1>button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#else1>button:hover{
  color: red;
}

#else1>button:first-child {
  color: #e65657;
}

#else2 {
  width: 90%;
  display: flex;
  flex-direction: row;
}

#else2>div {
  width: 22%;
  margin: auto;
  margin: 10px;
  height: 300px;
  box-sizing: border-box;
  padding: 10px 5px 30px 5px;
  border-radius: 10px;
  border: 1px solid rgb(196, 192, 192);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}

#else2>div:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div>img {
  object-fit: contain;
  width: 100%;
  height: 50%;
}

img+h1 {
  font-size: 20px;
  color: black;
}

img+h1+p {
  font-size: 15px;
  text-align: center;
}

img+h1+p+p {
  font-size: 15px;
  text-align: center;
}

#else2>div>button {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  background-color: #f5d277;
  cursor: pointer;
}

#p1 {
  margin-top: 30px;
}

#p2 {
  margin-top: 50px;
}

th:last-child {
  background-color: #c6cc74;
  color: black;
}