* {
    padding: 0px;
    margin: 0px;
}

#main {
    width: 90%;
    margin: auto;
}

#addnew {
    font-size: 15px;
    color: rgb(29, 131, 194);
}

#bt {
    margin-left: 50%;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#navimg {
    width: 90%;
    height: 150px;
    cursor: pointer;
}

#p1 {
    margin-top: 70px;
    margin-right: 40px;
    font-size: 20px;
    color: gray;
}

#box {
    display: flex;
    border: 0px transparent;
    margin-top: 10px;
}

#box1 {
    width: 70%;
}

#box2 {
    width: 25%;
    height: 350px;

    margin-right: 5%;
    padding: 10px 20px;
}

#box21 {
    margin: 20px;
    background-color: white;
    margin-left: 5px;
}

#box22 {
    display: flex;
    background-color: white;
    border: 1px solid gray;
}


#box2>h2 {
    color: #7d6666;
    font-size: 20px;
}

#box21>input {
    margin: 20px 0px 20px 20px;
    padding: 5px;
}

#box21>button {
    padding: 5px;
    cursor: pointer;
}

#box21>button:last-child {
    width: 230px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#box22>div>h3 {
    margin: 20px;
    font-size: 15px;
    color: gray;
    width: 100%;
}

#h3 {
    color: black;
}

#box h3 {
    color: rgb(94, 91, 91);
}

#box h2 {
    color: rgb(94, 91, 91);
}

#gift {
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    margin: 10px 0px;
}

.button6 {
    margin-left: 57.5%;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#butt {
    margin-left: 55%;
}

#dil {
    width: 100%;
    margin: auto;
    height: 70px;
    border: 1px solid gray;
    margin: 10px 0px;
}

#pay {
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    /* margin: 10px 0px; */
}

.H1 {
    margin-top: 5px;
}

h1 {
    font-size: 20px;
    color: gray;
    margin-left: 20px;
    margin-top: 20px;
}

#payment {
    width: 100%;
    border: none;
    margin: 10px 0px;
}

#pay1 {
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    margin: 0px 0px;
}
#NET {
    width: 99%;
    margin: auto;
    display: flex;
    margin-top: 15px;
    
}

#NET1 {
    width: 15%;
    /* margin-bottom: 25%; */
    margin-right: 10%;
    
}

#NET1>button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: white;
}
#NET2 {
    width: 80%;
    height: 280px;
    border: none;
    margin: auto;
    margin-bottom: 25%;
    border: 1px solid black;
    background-color: rgb(239, 237, 237);
}
#NET2>input{
    height: 20px;
}

#NET2>h2 {
    margin: 30px 20px;
}

#input1 {
    margin-left: 40px;
    margin-bottom: 20px;
    width: 300px;
}

#NET2>label {
    margin-left: 40px;
}

#NET2>h4 {
    margin-top: 20px;
    margin-left: 40px;
}

#NET2>button {
    padding: 10px 20px;
    margin-left: 35%;
    margin-top: 25px;
    background-color: #9fb262;
    border: none;
    color: white;
}

#NET1>button:hover {
    cursor: pointer;
    background-color: #9ec225;
}
#NET2>button:hover {
    cursor: pointer;
    background-color: #9ec225;
}