#footer{
    width: 100%;
    height: 900px;
    margin-top: 60px;
    margin-bottom: 10px;
    
}
#footer > .container{
    display: flex;
    width: 85%;
    height: 60%;
    line-height: 2;
    margin:auto;
    padding-left: 10%;
    border-bottom: 1px dotted rgb(223, 215, 215);
}
.first-column{
    width: 28%;
    height: 100%;
}
.first-column > p > a{
    text-decoration: none;
    color: rgb(185, 181, 181);
}
#column-heading{
    font-size: 18px;
    color:rgb(146, 232, 16);
}
#keys{
    font-size: 18px;
}
#keys:hover{
    color:rgb(139, 218, 21);
}
.third-column > img{
    margin-top: 10px;
}
.fourth-column{
    padding-left: 60px;
}
.fourth-column > a {
    text-decoration: none;
}
.fourth-column > a > .fab{
    font-size: 40px;  
    margin-left: 10px;
}
.fa-facebook{
   color: rgb(55, 92, 172);
}
.fa-pinterest{
    color: rgb(238, 37, 40);
}
.fa-twitter{
    color: rgb(10, 190, 255);
}
.fa-instagram{
    color: rgb(29, 58, 82);
}
.bottom{
    display: flex;
    width: 80%;
    height: 37%;
    margin-left:150px;
    margin-right: 10%;
    margin-top: 5px;
}
.bottom-keys{
    width: 20%;
    color:rgb(132,194,37);
    font-size: 15px;
}
.bottom-keys> p{
    padding: 15px 5px 10px 20px;
}
#places{
    padding-top: 30px;
}
#payment{
    padding-top: 100px;
}

.values{
    width: 80%;
}
.values > p{
    padding: 5px 5px 10px 20px;
}
#value-description > a{
    text-decoration: none;
    color: gray;
}
#value-description > a:hover{
    text-decoration: none;
    color: rgb(132,194,37);
}
#value-description{
    color: gray;
}
#pay-options{
    display: flex;
}
#pay-options > span{
    margin: 10px;
}
#COD{
    font-size: 16px;
    font-weight:bold;
    display: inline-flex;
    width: 55px;
    color: gray;
}

#paymentImg{
    width: 80px;
    height: 40px;
}

#paymentImg1{
    width: 90px;
    height: 40px;
}
#paymentImg2{
    width: 70px;
    height: 40px;
}

.CR{
    width: 100%;
    margin-top: 6%;
    height:6%;
    border: 1px soild rgb(219, 206, 206);
    background-color: rgb(230, 230, 230);
}
.CR > p{
    margin-left:150px;
    font-size: 16px;
    padding:15px;
    color: rgb(145, 144, 144);
}