
#nav{
    width: 90%;
    height: 160px;
    margin:auto;
    display: flex;
    overflow: hidden;
}
#nav > .first-box{
    width:20%;
    height: 100%;
}
.first-box>.logo{
    width:80%;
    height:116px;
    margin: auto;
    
}
.logo img{
    width: 80%; 
    height: 100%;  
     
}
.first-box > .category-drop{ 
    background-color: rgb(124, 188, 29);
    height: auto;
    color: white;
    
}
.category-drop > p{
    padding: 5%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 9px;
}
.category-drop > p > .fa-angle-down{
    margin-left: 18%;

}
.Second-box{
    width: 60%;
} 
.third-box{
    height: 75%;
    width: 25%;
}
.phone{
   flex-flow: column;
   float: right;
   width: 100%;
   text-align: right;
   color:grey;
}

.input-area{
    margin-top: 40px;
    padding-top: 15px;
    
}
#search{
    width: 80%;
    height: 35px;
    padding-left: 20px;
}
#btn{
    border: none;
    width: 6%;
    height:36px;
    background-color: rgb(132,194,37);
    color: white;
}

#btn:hover{
cursor: pointer;

}

.offer{
    margin-top: 25px;
    padding: 10px;
    font-size: 18px;
    width: 141.6%;
    border-top: 2px solid rgb(235, 232, 232);
    border-right: 2px solid rgb(235, 232, 232);
    border-bottom: 2px solid rgb(235, 232, 232);
    
}   
/* .offer:hover{
    width:110px;
    background-color:rgb(132,194,37);
    color:white;
    cursor: pointer;
} */
.offers{
    width:100px;
}
.offers:hover{
    width:100px;
    font-size: 17px;
    padding:5px;
    cursor: pointer;
    color:green;
    border-right: 1px solid rgb(235, 232, 232);
}
.fa-tag{
    color: red;
    margin-left: 10px;
}

.bangalore{
    margin-bottom: 5px;
    margin-left: 10px;
    width: 96%;
    display: flex;
    color: grey;
    padding-bottom: 15px;
}
.fa-map-marker-alt{
    margin-left:5px ;
    margin-right: 5px;
}
.fa-user{
    margin-left: 20px;
    margin-right: 10px;
}
.bangalore > a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.bangalore > a:hover{
    color:rgb(135, 219, 9);
}
.cart-btn{
    width: 40%;
    height: 64%;
    justify-content: flex-end;
    float: right;
    border: none;
}
.cart-btn a{
    text-decoration: none;
    color: black;
} 
.fa-shopping-basket{
    margin-top: 15px;
    margin-right: 5px;
    color:rgb(218,37,29);
}
.cart-btn a > span{
    font-size: 16px;
}
.cart-btn a > p{
    margin-left: 30%;
    margin-top: 0px;
}

/* dropdown */
.dropdown{
    display: none;
    position:absolute;
    background-color: hsl(0, 16%, 96%);
    width:20%;
    box-shadow:0 0 5px rgba(#000, .15);
    z-index: 2; 

    

  }

.dropdown ul {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
     /* z-index: 2;  */
  }
.category-drop:hover .dropdown {
    display: block;
  }
ul > li > a{
    text-decoration: none;
    color: gray;
}
ul > li {
    padding:10px;
    text-align: left;
    left: 100%;
}
ul > li :hover{
    text-decoration: none;
    color: black;
}



