.cont {
    font-family: "Lato-Light",Helvetica,Arial,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 1;
    margin-top: 100px;
    
}

a {
    color: black;
    text-decoration: none;
    
}

#registeration-form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 65%;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);

}
form {
    display: flex;
    flex-direction: column;
}

form > input {
    display: block;
    margin: 5px 0 25px;
    font-size: 14px;
    padding: 15px 15px;
}


input[type="submit"] {
    background: rgb(191,224,142);
    border: 0;
    font-size: 18px;
    color: #ffffff;
    padding: 25px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: rgb(159, 224, 60);
    color: #2e3337;
}

.terms_condition{
    font-size: 14px;
    color: rgb(48, 30, 211);
    font-weight: bold;
    text-decoration: underline;
}
h3{
    color: rgb(189, 231, 125);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}